@model XmlToHtml.Models.RapDocument

<article model="@Model.Article">
    <section>
        <itemized-list>
            <list-item>
            </list-item>
        </itemized-list>
    </section>
</article>